.arena-list {
  display: flex;
  flex-direction: row;
  li {
    width: 10%;
    img {
      width: 100%;
    }
    .arena-info {
      cursor: pointer;
      opacity: .3;
      .arena-name {
        height: 37px;
        margin: 5px 0;
        text-align: center;
      }
      &.selected {
        opacity: 1;
      }
      .arena-number {
        text-align: center;
        margin: 5px 0 0;
      }
    }
  }
}
.card-container {
  height: 350px;
  overflow-y: scroll;
}
.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  li {
    width: 25%;
    .card-info {
      cursor: pointer;
    }
    img {
      width: 100%;
    }
  }
}
.bottom-wrapper {
  padding: 15px;
  #description {
    width: 100%;
  }
}
.action-wrapper {
  text-align: center;
}
