<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-group arena-list">
        <li class="list-group-item" ng-repeat="arena in Deckbuilder.arenas">
          <div class="arena-info">
            <strong>{{arena.name}}</strong>
            <img ng-src="/assets/images/arenas/{{arena.idName}}.png" alt="{{arena.name}}" />
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 card-container">
      <ul class="list-group card-list">
        <li class="list-group-item" ng-repeat="card in Deckbuilder.cards | orderBy:'arena'">
          <div class="card-info" ng-click="Deckbuilder.addCard(card._id)">
            <img ng-src="/assets/images/cards/{{card.idName}}.png" alt="{{card.name}}" />
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="list-group card-list">
        <li class="list-group-item" ng-repeat="card in Deckbuilder.deckCards">
          <div class="card-info" ng-click="Deckbuilder.removeCard(card._id)">
            <img ng-src="/assets/images/cards/{{card.idName}}.png" alt="{{card.name}}" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
