<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>
              <a ng-click="Decklist.sortType = 'name'; Decklist.sortReverse = !Decklist.sortReverse">
                Deck Name
                <span ng-show="Decklist.sortType == 'name' && !Decklist.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="Decklist.sortType == 'name' && Decklist.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="Decklist.sortType = 'avgelixir'; Decklist.sortReverse = !Decklist.sortReverse">
                Av. Elixir
                <span ng-show="Decklist.sortType == 'avgelixir' && !Decklist.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="Decklist.sortType == 'avgelixir' && Decklist.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              Type
            </th>
            <th>
              Rating
            </th>
            <th>
              Views
            </th>
            <th>
              Comments
            </th>
            <th>
              Updated
            </th>
            <th>
              Owner
            </th>
          </tr>
      </thead>
      <tbody>
        <tr ng-repeat="deck in Decklist.decks | orderBy:Decklist.sortType:Decklist.sortReverse">
          <td>
            <span class="">
              <a ui-sref="deckdetail({ deckID: deck._id })">{{deck.name}}</a>
            </span>
          </td>
          <td>
            {{deck.avgelixir}}
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td>
            {{deck.date | date:'d/MMM/yy'}}
          </td>
          <td>
            {{deck.ownerName}}
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
